In [48]:
import pandas as pd
import numpy as np
import statsmodels.api as st

In [29]:
df = pd.read_csv("survey.csv")

In [30]:
df

     MYDEPV  Price  Income  Age
0         1     10      33   37
1         0     20      21   55
2         1     30      59   55
3         1     20      76   44
4         0     30      24   37
..      ...    ...     ...  ...
745       0     30      25   27
746       0     10      29   32
747       0     10      55   36
748       0     30      21   37
749       0     30      28   38

[750 rows x 4 columns]

In [31]:
df["ones"] = [1]*750

In [32]:
ls_prices = (20, 30, 10)
for _ in range(2):
    mask = df["Price"].mask(df["Price"]==ls_prices[0], 1)
    mask = mask.mask((mask==ls_prices[1]) | (mask==ls_prices[2]), 0)
    df[f'price{ls_prices[0]}'] = mask
    ls_prices = ls_prices[1::] + ls_prices[:1:]

In [33]:
df = df.drop("Price", axis=1)

In [34]:
df

     MYDEPV  Income  Age  ones  price20  price30
0         1      33   37     1        0        0
1         0      21   55     1        1        0
2         1      59   55     1        0        1
3         1      76   44     1        1        0
4         0      24   37     1        0        1
..      ...     ...  ...   ...      ...      ...
745       0      25   27     1        0        1
746       0      29   32     1        0        0
747       0      55   36     1        0        0
748       0      21   37     1        0        1
749       0      28   38     1        0        1

[750 rows x 6 columns]

In [77]:
split_ratio = 0.8
split_mask = np.random.rand(df["Income"].count()) < split_ratio
len(list(filter(lambda x: x, dd)))

750

In [49]:
model = st.Logit(df["MYDEPV"], df[["Income", "Age", "price20", "price30", "ones"]])

In [50]:
model = model.fit()

Optimization terminated successfully.
         Current function value: 0.356115
         Iterations 7

In [51]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 MYDEPV   No. Observations:                  750
Model:                          Logit   Df Residuals:                      745
Method:                           MLE   Df Model:                            4
Date:                Sat, 07 Dec 2024   Pseudo R-squ.:                  0.4793
Time:                        11:52:31   Log-Likelihood:                -267.09
converged:                       True   LL-Null:                       -512.90
Covariance Type:            nonrobust   LLR p-value:                4.321e-105
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Income         0.1288      0.009     13.950      0.000       0.111       0.147
Age            0.0351      0.012      2.974      0.003       0.012       0.058
price20       -0.7442      0.264     -2.815      0.005      -1.262      -0.226
price30       -2.2103      0.311     -7.105      0.000      -2.820      -1.601
ones          -6.0212      0.532    -11.309      0.000      -7.065      -4.978
==============================================================================
"""

In [ ]:
model.predict()